<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="downloadFile()">
        <ion-label>download file</ion-label>
    </ion-button>

    <ion-button (click)="uploadFile()">
        <ion-label>upload file</ion-label>
    </ion-button>

    <ion-card>
        <ion-card-content>
            progressDownload: {{ progressDownload | async | json }}
        </ion-card-content>
    </ion-card>

    <ion-card >
        <ion-card-content>
            progressUpload: {{ progressUpload | async | json }}
        </ion-card-content>
    </ion-card>
</ion-content>
